@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 118px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }
}

/* Hamburger shadow removing css */
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* Hamburger css ends */

/* Pages names css starts */

.linkss {
  font-size: 16px;
  font-weight: 500;
  color: #002147 !important;
  transition: color 0.3s ease;
}

/* @media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 124px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }
} */

@media (max-width: 991px) {
  .linkss {
    margin-left: 24px;
  }
}

.logo{
  border-radius: 12px;
  mix-blend-mode: multiply;
  padding: 0px !important;
  margin: 0px !important;
}